var parse = function (fmt) {
  fmt1 = fmt.substring(0, 19);
  var reg = getRegExp("-", "g");
  fmt2 = fmt1.replace(reg, '/');
  var timestamp = getDate(fmt2).getTime();
  return timestamp;
}
  var TimeToNow= function TimeToNow(time){
    var timespan= getDate(time) /1000;
    var now_timespan = getDate() /1000;
    
    var minute = 60;
    var hour = minute*60;
    var day = hour*24;
    var week = day*7;
    var halfmonth = day*15;
    var month = day*30;
    var year = month*12;

    var result = '';
    var diff = now_timespan - timespan;
    if(diff<0) return result;
    var monthc = diff/month;
    var weekc = diff/week;
    var dayc = diff/day;
    var hourc = diff/hour;
    var minc = diff/minute;
    var yearc=  diff/year  ;
    if(yearc>=1) result += parseInt(yearc)+'年前';
    else if(monthc>=1) result += parseInt(monthc)+'月前';
    else if(weekc>=1) result += parseInt(weekc)+'周前';
    else if(dayc>=1) result += parseInt(dayc)+'天前';
    else if(hourc>=1) result += parseInt(hourc)+'小时前';
    else if(minc>=1) result += parseInt(minc)+'分钟前';
    else result ='刚刚';
    return result;
  }

  function toWeekDay(weekDay) {// 传入数据 讲一周的某一天返回成中文状态下的字符
    switch (weekDay) {
      case 1: return '一'; break;
      case 2: return '二'; break;
      case 3: return '三'; break;
      case 4: return '四'; break;
      case 5: return '五'; break;
      case 6: return '六'; break;
      case 0: return '日'; break;
      default: break;
    }
    return '传入未知参数';
  }
  var GenerateTime = function (st, ed) {
    // var st_dt = getDate(parse(st));
    // var ed_dt = getDate(parse(ed));
    var st_dt = getDate(st);
    var ed_dt = getDate(ed);
    if (st_dt.getFullYear() == ed_dt.getFullYear()
      && st_dt.getMonth() == ed_dt.getMonth()
      && st_dt.getDate() == ed_dt.getDate()) {
      var year = st_dt.getFullYear();
      var month = st_dt.getMonth() + 1;
      var day = st_dt.getDate();
      var week = toWeekDay(st_dt.getDay());
      var st_hour = st_dt.getHours();
      var st_minutes = st_dt.getMinutes();
      var ed_hour = ed_dt.getHours();
      var ed_minutes = ed_dt.getMinutes();
      return year + '/' + (month.toString()[1] ? month : ('0' + month)) + '/' + (day.toString()[1] ? day : ('0' + day)) + ' (周' + week + ')'+(st_hour.toString()[1]?st_hour:('0'+st_hour))+': '+(st_minutes==0?'00':st_minutes)+'~'+(ed_hour.toString()[1]?ed_hour:('0'+ed_hour))+': '+(ed_minutes==0?'00':ed_minutes);
    }
    else return st + '~' + ed;
  }
  var GenerateTimeNoYear = function (st, ed) {
    // var st_dt = getDate(parse(st));
    // var ed_dt = getDate(parse(ed));
    var st_dt = getDate(st);
    var ed_dt = getDate(ed);
    if (st_dt.getFullYear() == ed_dt.getFullYear()
      && st_dt.getMonth() == ed_dt.getMonth()
      && st_dt.getDate() == ed_dt.getDate()) {
      var month = st_dt.getMonth() + 1;
      var day = st_dt.getDate();
      var week = toWeekDay(st_dt.getDay());
      var st_hour = st_dt.getHours();
      var st_minutes = st_dt.getMinutes();
      var ed_hour = ed_dt.getHours();
      var ed_minutes = ed_dt.getMinutes();
      return (month.toString()[1] ? month : ('0' + month)) + '/' + (day.toString()[1] ? day : ('0' + day)) + ' (周' + week + ')  '+(st_hour.toString()[1]?st_hour:('0'+st_hour))+': '+(st_minutes==0?'00':st_minutes)+'~'+(ed_hour.toString()[1]?ed_hour:('0'+ed_hour))+': '+(ed_minutes==0?'00':ed_minutes);
    }
    else return st + '~' + ed;
  }
  var GenerateStatus = function (st, ed) {
    var st_dt = getDate(st);
    var ed_dt = getDate(ed);
    var now_dt = getDate();
    var res = '';

    if (st_dt > now_dt) res = '未开始';
    else if (now_dt >= st_dt && now_dt < ed_dt) res = '进行中'; 
    return res;
  } 
  var GenerateDuration = function(st,duration){
    var st_out= getDate('1970/01/01 '+st);
    st_out.setMinutes(st_out.getMinutes()+duration);
    var hours = st_out.getHours();
    var minutes = st_out.getMinutes();
    return  st+ ' ~ '+ (hours.toString().length>1?hours:'0'+hours) +":"+(minutes.toString().length>1?minutes:'0'+minutes) ;
  }
  module.exports.GenerateDuration=GenerateDuration;
  module.exports.GenerateTime = GenerateTime;
  module.exports.GenerateTimeNoYear =GenerateTimeNoYear;
  module.exports.GenerateStatus = GenerateStatus;
  module.exports.TimeToNow = TimeToNow;

